.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: violet;
}
.yellow{
    background-color: yellowgreen;
}
.purple{
    background-color: purple;
}
.bold{
    font-weight: bold;
}